.contaier {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 10rem;
  color: white;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.title span {
  font-size: 1.875rem;
  font-weight: bold;
}

.title p {
  width: 800px;
  text-align: center;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.img {
  width: 48%;
  text-align: center;
}
